<div class="row">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf5qSNrjoj4lhADnB8dutVgOTfocwCXHs"></script>
    @Scripts.Render("~/Scripts/map.js")

    <div id="map-canvas" class="col-md-12" style="height:500px;"></div>
</div>
